In [1]:
import pandas as pd

OPEN DATA.CSV FILE

In [206]:
df = pd.read_csv('data.csv')
df.head()

,type_school,school_accreditation,gender,interest,residence,parent_age,parent_salary,house_area,average_grades,parent_was_in_college,in_college
0,Academic,A,Male,Less Interested,Urban,56,6950000,83.0,84.09,False,True
1,Academic,A,Male,Less Interested,Urban,57,4410000,76.8,86.91,False,True
2,Academic,B,Female,Very Interested,Urban,50,6500000,80.6,87.43,False,True
3,Vocational,B,Male,Very Interested,Rural,49,6600000,78.2,82.12,True,True
4,Academic,A,Female,Very Interested,Urban,57,5250000,75.1,86.79,False,False

DEFINE A FUNCTION THAT CONVERT CATEGORIAL VALUES INTO BINARY VALUES

In [207]:
def add_new_column(orginal_column_name, new_column_name):

    df.insert(loc=int(df.columns.get_loc(orginal_column_name))+1,
              column=new_column_name,
              value=1)

    for index, type in enumerate(df[orginal_column_name]):
        if type == df[orginal_column_name].unique()[0]:
            df[new_column_name][index] = 1
        else:
            df[new_column_name][index] = 0

CALLING THE FUNCTION

In [208]:
add_new_column(orginal_column_name='type_school',new_column_name='type_school_bin')
add_new_column('school_accreditation','school_accreditation_bin')
add_new_column('gender','gender_bin')
add_new_column('residence','residence_bin')
add_new_column('parent_was_in_college','parent_in_college_bin')
add_new_column('in_college','in_college_bin')

C:\Users\DELL\AppData\Local\Temp\ipykernel_12780\545761322.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_name][index] = 1
C:\Users\DELL\AppData\Local\Temp\ipykernel_12780\545761322.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_name][index] = 0
C:\Users\DELL\AppData\Local\Temp\ipykernel_12780\545761322.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_name][index] = 1
C:\Users\DELL\AppData\Local\Temp\ipykernel_12780\545761322.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_name][index] = 0
C:\Users\DELL\AppData\Local\Temp\ipykernel_12780\545761322.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_name][index] = 1
C:\Users\DELL\AppData\Local\Temp\ipykernel_12780\545761322.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_name][index] = 0
C:\Users\DELL\AppData\Local\Temp\ipykernel_12780\545761322.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_name][index] = 1
C:\Users\DELL\AppData\Local\Temp\ipykernel_12780\545761322.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_name][index] = 0
C:\Users\DELL\AppData\Local\Temp\ipykernel_12780\545761322.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_name][index] = 1
C:\Users\DELL\AppData\Local\Temp\ipykernel_12780\545761322.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_name][index] = 0
C:\Users\DELL\AppData\Local\Temp\ipykernel_12780\545761322.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_name][index] = 1
C:\Users\DELL\AppData\Local\Temp\ipykernel_12780\545761322.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_name][index] = 0

HANDLING UNIQUE CASE OF THE 'INTEREST' COLUMN

In [209]:
df.insert(loc= df.columns.get_loc('interest')+1,column='interest_grade',value=1)
for index, type in enumerate(df.interest):
    if type == 'Very Interested':
        df['interest_grade'][index] = 5
    elif type == 'Less Interested':
        df['interest_grade'][index] = 4
    elif type == 'Quiet Interested':
        df['interest_grade'][index] = 3
    elif type == 'Uncertain':
        df['interest_grade'][index] = 2
    else:
        df['interest_grade'][index] = 1

C:\Users\DELL\AppData\Local\Temp\ipykernel_12780\866163363.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['interest_grade'][index] = 4
C:\Users\DELL\AppData\Local\Temp\ipykernel_12780\866163363.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['interest_grade'][index] = 5
C:\Users\DELL\AppData\Local\Temp\ipykernel_12780\866163363.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['interest_grade'][index] = 2
C:\Users\DELL\AppData\Local\Temp\ipykernel_12780\866163363.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['interest_grade'][index] = 1
C:\Users\DELL\AppData\Local\Temp\ipykernel_12780\866163363.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['interest_grade'][index] = 3

DROPPING CATEGORIAL COLUMNS

In [210]:
df = df.drop(['type_school',
              'school_accreditation',
              'gender',
              'residence',
              'parent_was_in_college',
              'in_college',
              'interest'],
              axis=1)

LOADING THE CLEANED DATA TO A NEW CSV FILE 'DATA_CLEANED.CSV'

In [211]:
data = pd.DataFrame(df)
data.to_csv('data_cleaned.csv',index=False)

### ANALYSIS STARTS HERE

OPEN 'DATA_CLEANED.CSV'

In [56]:
df = pd.read_csv('data_cleaned.csv')
# df2 = pd.read_csv('data.csv')
df.head()

,type_school_bin,school_accreditation_bin,gender_bin,interest_grade,residence_bin,parent_age,parent_salary,house_area,average_grades,parent_in_college_bin,in_college_bin
0,1,1,1,4,1,56,6950000,83.0,84.09,1,1
1,1,1,1,4,1,57,4410000,76.8,86.91,1,1
2,1,0,0,5,1,50,6500000,80.6,87.43,1,1
3,0,0,1,5,0,49,6600000,78.2,82.12,0,1
4,1,1,0,5,1,57,5250000,75.1,86.79,1,0

Type_school: 
- Academic: 1
- Vocational:0

School_accreditation:
- A : 1
- B : 0

Gender:
- Male:1
- Female:0

Residence:
- Urban: 1
- Rural: 0

Parent_in_college:
- False: 1
- True: 0

In_college:
- True: 1
- False: 0

### SUPERVISED MACHINE LEARNING

In [57]:
from sklearn import svm
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.drop('in_college_bin',axis=1),
                                                    df['in_college_bin'],
                                                    test_size=0.2,
                                                    random_state=42)

svc = svm.SVC()
pipe = Pipeline([('scaler',  StandardScaler()),
            ('SVC', svc)])

pipe.fit(X_train, y_train)

Pipeline(steps=[('scaler', StandardScaler()), ('SVC', SVC())])

In [58]:
prediction = pipe.predict(X_test)

from sklearn.metrics import precision_score, recall_score, make_scorer

precision = precision_score(y_test,prediction)
recall = recall_score(y_test,prediction)
accuracy = accuracy_score(y_test, prediction)
print('precision is {}'.format(precision))
print('recall is {}'.format(recall))
print('recall is {}'.format(accuracy))

precision is 0.8913043478260869
recall is 0.8723404255319149
recall is 0.89

### SEMI-SUPERVISED MACHINE LEARNING

In [60]:
data = pd.read_csv('data_cleaned.csv')
data.head()

,type_school_bin,school_accreditation_bin,gender_bin,interest_grade,residence_bin,parent_age,parent_salary,house_area,average_grades,parent_in_college_bin,in_college_bin
0,1,1,1,4,1,56,6950000,83.0,84.09,1,1
1,1,1,1,4,1,57,4410000,76.8,86.91,1,1
2,1,0,0,5,1,50,6500000,80.6,87.43,1,1
3,0,0,1,5,0,49,6600000,78.2,82.12,0,1
4,1,1,0,5,1,57,5250000,75.1,86.79,1,0

In [103]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data.drop('in_college_bin',axis=1),
                                                    data['in_college_bin'], 
                                                    test_size=0.2,
                                                    random_state=32)

In [104]:
X_train_lab, X_test_unlab, y_train_lab, y_test_unlab = train_test_split(X_train, 
                                                                          y_train, 
                                                                          test_size=0.5,
                                                                          random_state=43)

In [105]:
svc = svm.SVC()
pipe = Pipeline([('scaler',  StandardScaler()),
            ('SVC', svc)])

pipe.fit(X_train_lab, y_train_lab)

Pipeline(steps=[('scaler', StandardScaler()), ('SVC', SVC())])

In [106]:
from numpy import concatenate
import numpy as np
from sklearn.metrics import accuracy_score

y_pred_1 = pipe.predict(X_test_unlab)
y_train_mixed = [*np.array(y_train_lab),*y_pred_1]

# X_train_mixed = pd.concat(X_train_lab, X_test_unlab)
# X_train_mixed = concatenate(X_train_lab,X_test_unlab)
pipe.fit(X_train,y_train_mixed)

prediction_for_testing = pipe.predict(X_test)
precision = precision_score(y_test, prediction_for_testing)
accuracy = accuracy_score(y_test, prediction_for_testing)

print('Precision:', precision)
print('Accuracy:', accuracy)

Precision: 0.45054945054945056
Accuracy: 0.405